@charset "UTF-8";
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, textarea, button {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

/* 				 */
.header {
  padding: 20px 0;
}
.header__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
.header__main .header__link {
  position: relative;
  text-decoration: none;
}
.header__main .header__link-left {
  position: absolute;
  left: 0;
}
.header__main .header__link-right {
  position: absolute;
  right: 0;
}

.footer {
  position: relative;
  width: 100%;
  padding: 220px 0 40px 0;
}
@media (max-width: 768px) {
  .footer {
    padding: 100px 0 20px 0;
  }
}
.footer__main {
  width: 100%;
}
.footer__main .footer__copyright {
  height: 100%;
  width: 100%;
  margin-top: 80px;
}
@media (max-width: 768px) {
  .footer__main .footer__copyright {
    margin-top: 40px;
  }
}
.footer__main .footer__blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__main .footer__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
.footer__main .footer__blocks .footer__contact {
  width: 50%;
}
@media (max-width: 400px) {
  .footer__main .footer__blocks .footer__contact {
    -webkit-box-pack: start;
    -webkit-justify-content: start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.footer__main .footer__blocks .footer__contact__wrap {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
@media (max-width: 400px) {
  .footer__main .footer__blocks .footer__contact__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 768px) {
  .footer__main .footer__blocks .footer__contact {
    width: 100%;
    margin-bottom: 30px;
  }
}
.footer__main .footer__blocks .footer__contact .footer__logo {
  padding-right: 20px;
}
.footer__main .footer__blocks .footer__contact .footer__logo_img {
  width: 100px;
  display: block;
}
@media (max-width: 400px) {
  .footer__main .footer__blocks .footer__contact .footer__logo_img {
    width: 100px;
    padding: 0 0 10px 0;
  }
}
.footer__main .footer__blocks .footer__contact .footer__tel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1250px) {
  .footer__main .footer__blocks .footer__contact .footer__tel {
    margin-top: 10px;
  }
}
.footer__main .footer__blocks .footer__contact .footer__tel .footer__tel_link {
  color: #000;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
}
.footer__main .footer__blocks .footer__contact .footer__tel .footer__tel_link:hover {
  text-decoration: underline;
}
@media (max-width: 1250px) {
  .footer__main .footer__blocks .footer__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__main .footer__menu {
  width: 50%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media (max-width: 768px) {
  .footer__main .footer__menu {
    width: 100%;
  }
}
.footer__main .footer__menu__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__main .footer__menu__block:last-child .footer__link {
  position: relative;
}
.footer__main .footer__menu__block:last-child .footer__link:after {
  content: "";
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  height: 6px;
  width: 6px;
  position: absolute;
  top: 3px;
  right: 0;
}
@media (max-width: 400px) {
  .footer__main .footer__menu__block:last-child .footer__link:after {
    top: 3px;
    height: 4px;
    width: 4px;
  }
}
.footer__main .footer__menu__block:last-child .footer__link:before {
  content: "";
  border-top: 1px solid #000;
  height: 1px;
  width: 11px;
  position: absolute;
  top: 8px;
  right: 0;
  -webkit-transform: rotate(-45deg) translate(10%, 10%);
      -ms-transform: rotate(-45deg) translate(10%, 10%);
          transform: rotate(-45deg) translate(10%, 10%);
}
@media (max-width: 400px) {
  .footer__main .footer__menu__block:last-child .footer__link:before {
    top: 6px;
    width: 7px;
  }
}
.footer__main .footer__menu__block .footer__menu__list {
  font-size: 14px;
  font-family: Gilroy-Regular, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  display: block;
}
@media (max-width: 400px) {
  .footer__main .footer__menu__block .footer__menu__list {
    font-size: 10px;
  }
}
.footer__main .footer__menu__block .footer__menu__list-item {
  margin-bottom: 20px;
}
.footer__main .footer__menu__block .footer__menu__list-item .footer__link {
  color: #000;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.footer__main .footer__menu__block .footer__menu__list-item .footer__link:hover {
  color: #1d9cd8;
}

.footer__link_arrow {
  padding-right: 10px;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  font-size: 0;
}

.slick-dots li {
  margin: 5px 10px;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background: #000;
}

/* Элемент точки */
.slick-dots li button {
  width: 18px;
  height: 18px;
  background: #1d9cd8;
  opacity: 1;
  border-radius: 50%;
  font-size: 0;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .wrapper {
    padding: 0 15px;
  }
}

.sliders .slider {
  margin-top: 40px;
  width: 100%;
  padding-bottom: 50px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.sliders .slider .slide {
  position: relative;
  min-height: 340px;
  max-height: 600px;
  height: 100%;
}
.sliders .slider .slide__link {
  color: #fff;
}
.sliders .slider .slide__img {
  display: block;
  min-height: 340px;
  max-height: 540px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sliders .slider .slide__text-discount_right {
  text-align: right !important;
  letter-spacing: 7px;
}
.sliders .slider .slide__text-discount_right .slide__text-discount_percent {
  left: 5px !important;
}
.sliders .slider .slide__text-discount {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-transform: uppercase;
  padding: 80px 60px;
  color: #fff;
  font-size: 60px;
  text-align: left;
  letter-spacing: 3px;
  font-family: gilroy-semibold, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@media (max-width: 768px) {
  .sliders .slider .slide__text-discount {
    font-size: 30px;
  }
}
.sliders .slider .slide__text-discount_percent {
  font-size: 190px;
  position: relative;
  left: 0;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .sliders .slider .slide__text-discount_percent {
    font-size: 96px;
  }
}
.sliders .slider .slide .slide__footer {
  position: relative;
  width: 100%;
  min-height: 60px;
  background: #1d9cd8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0 60px;
  color: #fff;
  text-transform: uppercase;
  font-family: gilroy-semibold, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.sliders .slider .slide .slide__footer_txt {
  font-size: 14px;
  margin-top: 2px;
  letter-spacing: 2px;
  line-height: 100%;
}
.sliders .slider .slide .slide__footer_title {
  font-size: 20px;
  font-family: gilroy-semibold, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.sliders .slider .slide .slider__txt {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 80px 60px;
  font-size: 40px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 100%;
  font-family: gilroy-semibold, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial-Semibold, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.sliders .slider .slide .slider__txt-title {
  color: #1d9cd8;
}
.sliders .slider .slide .slider__txt-title_white {
  color: #fff;
}

.menu {
  margin-top: 40px;
}
.menu .main__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu .main__menu .menu__col {
  width: 50%;
}
@media (max-width: 1250px) {
  .menu .main__menu .menu__col2 {
    display: none;
  }
}
@media (max-width: 1250px) {
  .menu .main__menu .menu__col1 {
    text-align: center;
  }
}
.menu .main__menu .menu__col .widget__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu .main__menu .menu__col .widget__img .active {
  display: block;
}
.menu .main__menu .menu__col .widget__img:not(:first-child) {
  display: none;
}
.menu .main__menu .menu__col .menu__widget {
  height: 100%;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: gilroy-semibold, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@media (max-width: 1250px) {
  .menu .main__menu .menu__col .menu__widget {
    font-size: 25px;
  }
}
.menu .main__menu .menu__col .menu__widget_link {
  color: #1d9cd8;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  cursor: pointer;
}
.menu .main__menu .menu__col .menu__widget_link:hover {
  color: #000;
}
.menu .main__menu .menu__col .menu__widget .widget__item {
  padding: 10px 0;
}